* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;

}

body {
    

}
.container {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    

}
.build {
    color: chocolate;
    border-top:4px solid grey ;
    border-left:4px solid grey ;
    border-bottom: 4px solid grey;
}

.navbar {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;

    min-height: fit-content;
    background-color: #7fc2f7;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    padding: 10px;
    gap:10px;

    
}
.navbar a {

    color: white;
    text-decoration: none;
    font-family:Roboto; 
}
.background {
    background-image: url(/images/banner3.jpg);
    
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    height:300px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    

}
.main-button {
    border-radius: 30px;
    border:1px solid rgba(0, 0, 0, 0);
    background-color:#419be6;
    padding: 15px;
    width: 33%;
    color: white;
}
.about-us {

    margin: 10px 20px;
    text-align: left;
    
}
h2 {
    text-align: center;
    padding-bottom: 10px;
}
.blue-line {
    color: #7fc2f7;
    padding-top: 20px;
    padding-bottom: 15px;
}
.under-q {
    padding-top: 10px;
    padding-bottom:15px;
}
.list {
    margin
    color: darkgray;
    padding-bottom: 30px;
    

}

ul {
    
    list-style-image: url('/images/arrow_bullet.png');

   }
.container-profile {

    width: 80%;
    
    
    
    
}


.profile .profi-pc {
    border-radius: 50%;
    border: 1px;
    width: 10vw;
}
.profile {
    margin-bottom: 20px;
    background-color: #7fc2f7;
    display: flex;
    flex-direction: ;
    flex-wrap: wrap; 
    color: white;
    padding:10px 
    
}

.card {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;

}
.profile .card {
    
}



/* .border-box {
    border-bottom: 2px solid black;
} */